{% extends 'SistemaCPCEBundle::longLayout.html.twig' %}

{% block title %}
    {{ parent() }} - Datos
{% endblock %}

{% block fos_user_content %}
    <div class="panel panel-primary center-block">
        <div class="panel-heading">Matriculado</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-8">
                            <label class="control-label">Apellido y Nombres</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity[0].Afinombre }}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label class="control-label">Tipo</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity[0].Afitipdoc }}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label class="control-label">Documento</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity[0].Afinrodoc }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-8">
                            <label class="control-label">Categoría</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.catDescripcion }}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label class="control-label">Título</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity[0].Afititulo }}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label class="control-label">Matrícula</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity[0].Afimatricula }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label class="control-label">Delegación</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity[0].getAfiZonaDelegacion }}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <label class="control-label">Domicilio</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity[0].Afidireccion ~ ', ' ~ entity[0].Afilocalidad ~ ', ' ~ entity[0].Afiprovincia ~ ' (' ~ entity[0].Aficodpos ~ ')' }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label class="control-label">Fecha de Nacimiento</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity[0].Afifecnac|date('d/m/Y') }}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="control-label">Sexo</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity[0].getAfiSexoString }}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="control-label">Estado Civil</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity[0].getAfiCivilEstado }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label class="control-label">Teléfono</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity[0].Afitelefono1 }}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="control-label">Celular</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity[0].AfiCelular }}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label">Correo</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity[0].Afimail }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-6">
                            <label class="control-label">Condición IVA</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity[0].getAfiGananciasCondicionIva }}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="control-label">CUIL</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity[0].Aficuit }}
                                </span>
                            </div>
                        </div>
                    </div>
                    {% if user.userCurriculum %}
                        <div class="form-group">
                            <div class="col-lg-6">
                                <label class="control-label">Curriculum Vitae</label>
                                <a class="btn btn-default btn-lg glyphicon glyphicon-save" href="{{ path('matriculado_getCurriculum', { 'matriculadoId': user.userCurriculum.id }) }}" download></a>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <div class="col-lg-6">
                                <label class="control-label">Curriculum Vitae</label>
                                <div class="form-control">
                                    <span class="glyphicon glyphicon-remove">
                                        No tiene curriculum cargado
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </fieldset>
            </form>
        </div>
    </div>
    
    <div class="panel panel-primary">
        <div class="panel-heading">Datos Familiares</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Dni</th>
                        <th>Nombre</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Sexo</th>
                        <th>Fil</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ entity[0].afiDoc1 }}</td>
                        <td>{{ entity[0].afiAut1 }}</td>
                        <td>{{ afiNac(entity[0].afiNac1|date("d/m/Y")) }}</td>
                        <td>{{ afiSex(entity[0].afiSex1) }}</td>
                        <td>{{ afiFil(entity[0].afiFil1) }}</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>{{ entity[0].afiDoc2 }}</td>
                        <td>{{ entity[0].afiAut2 }}</td>
                        <td>{{ afiNac(entity[0].afiNac2|date("d/m/Y")) }}</td>
                        <td>{{ afiSex(entity[0].afiSex2) }}</td>
                        <td>{{ afiFil(entity[0].afiFil2) }}</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>{{ entity[0].afiDoc3 }}</td>
                        <td>{{ entity[0].afiAut3 }}</td>
                        <td>{{ afiNac(entity[0].afiNac3|date("d/m/Y")) }}</td>
                        <td>{{ afiSex(entity[0].afiSex3) }}</td>
                        <td>{{ afiFil(entity[0].afiFil3) }}</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>{{ entity[0].afiDoc4 }}</td>
                        <td>{{ entity[0].afiAut4 }}</td>
                        <td>{{ afiNac(entity[0].afiNac4|date("d/m/Y")) }}</td>
                        <td>{{ afiSex(entity[0].afiSex4) }}</td>
                        <td>{{ afiFil(entity[0].afiFil4) }}</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>{{ entity[0].afiDoc5 }}</td>
                        <td>{{ entity[0].afiAut5 }}</td>
                        <td>{{ afiNac(entity[0].afiNac5|date("d/m/Y")) }}</td>
                        <td>{{ afiSex(entity[0].afiSex5) }}</td>
                        <td>{{ afiFil(entity[0].afiFil5) }}</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>{{ entity[0].afiDoc6 }}</td>
                        <td>{{ entity[0].afiAut6 }}</td>
                        <td>{{ afiNac(entity[0].afiNac6|date("d/m/Y")) }}</td>
                        <td>{{ afiSex(entity[0].afiSex6) }}</td>
                        <td>{{ afiFil(entity[0].afiFil6) }}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row">
    {% if user.userCurriculum is empty %}
        <div class="col-lg-5 col-md-5 col-sm-5">
            <a class="btn btn-primary col-lg-12" href="{{ path('matriculado_curriculum_new') }}">
                Cargar Curriculum
            </a>
        </div>
    {% else %}
    {# ACTUALIZAR CV #}
        <div class="col-lg-5 col-md-5 col-sm-5">
            <a class="btn btn-primary col-lg-12" href="{{ path('matriculado_curriculum_edit', {'id': user.userCurriculum.id}) }}">
                Actualizar Curriculum
            </a>
        </div>
    {% endif %}
        <div class="col-lg-5 col-md-5 col-sm-5">
            <a class="btn btn-primary col-lg-12" href="{{ path('front_dato_editar') }}">
                Editar Datos
            </a>
        </div>
    </div>
    <br>

{% endblock %}
