{% extends "SistemaUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="panel-heading">
    <div class="panel-title">Servicios al Matriculado</div>
	</div>
	<div style="padding-top:30px" class="panel-body">
	    <ul class="list-group">
	    	{% if archivo %}
		        <li class="list-group-item">
		            <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-1">
		                <div class="col-xs-10">
		                    <strong>{{ archivo.titulo }}</strong>
		                </div>
		                <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
		            </div>
		            <div>
		            	Haga Click para descargar Archivo Adjunto.
		            	<div class="row">
		                	<div class="form-group">
	                            <div class="col-lg-6">
									<a class="btn btn-default btn-lg glyphicon glyphicon-save" href="{{ path('getArchivo', { 'archivoId': archivo.id }) }}" download></a>
	                            </div>
	                        </div>
		                </div>
		            </div>
		        </li>
		    {% else %}
		    	<li class="list-group-item">
	            	<div class="row">
	                	<div class="col-lg-6 col-md-6 col-sm-6">
				            <a class="btn btn-primary glyphicon glyphicon-paperclip" href="{{ path('ayuda_servicios_index', { 'seccion': 'honorarios' }) }}">
				                ESCALA HONORARIOS SUGERIDOS 
				            </a>
				        </div>
	                </div>
	                <hr>
	                <div class="row">
		                <div class="col-lg-6 col-md-6 col-sm-6">
					        <a class="btn btn-primary glyphicon glyphicon-paperclip" href="{{ path('front_dato_pdf') }}">
					        	GENERAR PERFIL QR PROFESIONAL
					        </a>
					    </div>
				    </div>
		        </li>
			{% endif %}
	    </ul>
	</div>
{% endblock fos_user_content %}