{% extends 'SistemaCPCEBundle::longLayout.html.twig' %}

{% block title %}
    {{ parent() }} - Listado de {{ config.entityName }}s
{% endblock %}

{% block paneltitle %}
    Listado de {{ config.entityName }}s
{% endblock %}

{% block page %}
{% form_theme filterForm 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
<div class="row">
    <div class="col-lg-12">
        <div class="filters-right">
            <a class="btn btn-success" href="{{ path(config.new) }}">
                Confeccionar {{ config.entityName }}
            </a>
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{ 'views.index.export'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }} <span class="caret"></span>
                </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path(config.export, { 'format': "xls" }) }}">EXCEL</a></li>
                {#<li><a href="{{ path(config.export, { 'format': "csv" }) }}">CSV</a></li>
                <li><a href="{{ path(config.export, { 'format': "json" }) }}">JSON</a></li>#}
              </ul>
            </div>
            <a id="reset_index_filters" class="btn btn-danger">
                Limpiar Filtros
            </a>
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'MWSimpleAdminCrudBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>
    <div id="filters" class="well collapse col-lg-12 col-md-12 col-sm-12">
        {{ form_start(filterForm) }}
            {#{ form_label(filterForm.clienteComitente) }}
            {{ form_widget(filterForm.clienteComitente) }}
            {{ form_label(filterForm.comitenteCuit) }}
            {{ form_widget(filterForm.comitenteCuit) }}
            {{ form_label(filterForm.fechaInforme) }}
            {{ form_widget(filterForm.fechaInforme) }#}
        {{ form_end(filterForm) }}
    </div>
</div>
<div class="row">
    <div>
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    {% for key, field in config.fieldsindex %}
                        <th{% if entities.isSorted(key) %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, field.label, key) }}</th>
                    {% endfor %}
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleAdminCrudBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    {% for key, field in config.fieldsindex %}
                        <td>
                        {% if field.type in ['datetime', 'datetimetz', 'date', 'time'] %}
                            {{ attribute(entity, field.name)|date(field.date) }}
                        {% elseif field.type in ['boolean'] %}
                            {{ isActive(attribute(entity, field.name)) }}
                        {% elseif field.type in ['ONE_TO_MANY', 'MANY_TO_MANY'] %}
                            {% set many_entity = attribute(entity, field.name) %}
                            {% for key, field_many in many_entity %}
                                {{ field_many|raw }}
                                {% if field.separator is defined %}
                                    {{ field.separator|raw }}
                                {% else %}
                                    |
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {{ attribute(entity, field.name)|raw }}
                        {% endif %}
                        </td>
                    {% endfor %}
                    <td>
                        {% block actions %}
                            <a class="glyphicon glyphicon-search tooltips"  href="{{ path(config.show, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                            {#<a class="glyphicon glyphicon-edit tooltips"  href="{{ path(config.edit, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>#}
                            <a class="glyphicon glyphicon-print tooltips"  href="{{ path(config.pdf, { 'id': entity.id }) }}" title="generar PDF" rel="tooltip" data-original-title="PDF"></a>
                        {% endblock %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>
        <div class="col-lg-8">
            <a class="btn btn-success likepaginator" href="{{ path(config.new) }}">
                Confeccionar {{ config.entityName }}
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $('.tooltips').tooltip();
        $( "#reset_index_filters" ).click(function() {
            $(".reset_submit_filters").trigger("click");
        });
    </script>
{% endblock %}