{% extends "SistemaUserBundle::layout.html.twig" %}

{% block fos_user_panel %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Sistema Web de Gesti&oacute;n para Matriculados.</div>
    </div>
    <div style="padding-top:30px" class="panel-body">
    	<a class="btn btn-info" href="{{ path('front_dato') }}">Datos</a>
    	<a class="btn btn-info" href="{{ path('front_cuenta') }}">Estado de Cuenta</a>
        <a class="btn btn-info" href="{{ path('front_trabajo') }}">Listado de trabajos</a>
        <a class="btn btn-success" href="{{ path('front_trabajo_new') }}">Confeccionar trabajo</a>
    </div>
</div>
<div class="panel panel-primary">
    {% include 'SistemaCPCEBundle:Ayuda:novedad.html.twig' only %}
</div>
{% endblock fos_user_panel %}