<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <style type="text/css">
        p {
          height: 0;
        }
        th p {
          float: left;
        }
        td {
          vertical-align: bottom;
        }
        .content {
          background-color: #fff;
          margin: 0 1em;
          padding-left: 1em;
        }
        .right {
          float: right;
        }
        .centrar {
          text-align: center;
          float: none !important;
        }
        .text-right {
          text-align: right;
        }
        .text-long {
          font-size: 20px;
          font-weight: bold;
        }
      </style>
    </head>
    <body class="focusedform">
        <div class="content">
          {% if entity.id is not null %}
            <img src="{{ asset('bundles/sistemacpce/images/header_logo_agua.png', absolute=true) }}" alt="" />
            <div class="right">{{ fecha }}</div>
          {% endif %}
            <div class="centrar">
                <div>FORMULARIO DE USO INTERNO CPCE CHACO</div>
                <small>NO VALIDO COMO FACTURA / RECIBO / NO FISCAL</small>
              <hr>
                <div style="width: 12em; margin: 0 auto;">
                  {% if entity.id is null %}
                    <h2>VISTA PREVIA NO VALIDO PARA PRESENTAR</h2>
                  {% else %}
                    {{ barcode({code: '' ~ entity.id, type: 'c128', format: 'html'}) }}
                  {% endif %}
                </div>
                <strong>{{ entity.id }}</strong>
              <hr>
            </div>
            <div>
              <table style="width:100%" border="0">
                <tr>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                  <th><p style="width:35px;"></p></th>
                </tr>
                <tr>
                  <th colspan="24"><h3>DATOS DEL TRABAJO</h3></th>
                </tr>
                <tr>
                  <th colspan="4"><p>Fecha informe:</p></th>
                  <td colspan="4"><p>{{ entity.fechaInforme|date('d/m/Y') }}</p></td>
                  <th colspan="4"><p>Fecha Cierre:</p></th>
                  <td colspan="5"><p>{{ entity.fechaCierre|date('d/m/Y') }}&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
                  <th colspan="4"><p>Cantidad:</p></th>
                  <td colspan="3"><p>{{ entity.cantidad }}</p></td>
                </tr>
                <tr>
                  <th colspan="24"><hr><h3>DATOS DEL CLIENTE</h3></th>
                </tr>
                <tr>
                  <th colspan="4"><p>Comitente:</p></th>
                  <td colspan="13"><p>{{ entity.clienteComitente }}</p></td>
                  <th colspan="2"><p>CUIT:</p></th>
                  <td colspan="5"><p>{{ entity.comitenteCuit }}</p></td>
                </tr>
                <tr>
                  <th colspan="4"><p>Domicilio:</p></th>
                  <td colspan="20"><p>{{ entity.comitenteDomicilio }}</p></td>
                </tr>
                <tr>
                  <th colspan="24"><hr><h3>DATOS DEL PROFESIONAL</h3></th>
                </tr>
                <tr>
                  <th colspan="4"><p>Profesional:</p></th>
                  <td colspan="13"><p>
                    <span class="text-long">{{ entity.profesional }}</span>
                    {{ (entity.esAuditor == "SI") ? ' (Auditor)' : '' }}
                  </p></td>
                  <th colspan="2"><p>Matr&iacute;cula:</p></th>
                  <td colspan="5"><p class="text-long">{{ entity.matricula }}</p></td>
                </tr>
                <tr>
                  <th colspan="4"><p>Domicilio:</p></th>
                  <td colspan="13"><p>{{ entity.domicilio }}</p></td>
                  <th colspan="2"><p>Tel&eacute;fono:</p></th>
                  <td colspan="5"><p>{{ entity.telefono }}</p></td>
                </tr>
                <tr>
                  <th colspan="4"><p>Correo:</p></th>
                  <td colspan="13"><p>{{ entity.correo }}</p></td>
                  <th colspan="2"><p>Celular:</p></th>
                  <td colspan="5"><p>{{ entity.celular }}</p></td>
                </tr>
                <tr>
                  <th colspan="24"><hr><h3>BASE DE CALCULO SEGUN LEY 3.111</h3></th>
                </tr>
                <tr>
                  <th colspan="4"><p>SERVICIO:</p></th>
                  <td colspan="16" class="centrar"><p>{{ entity.servicio }}</p></td>
                  <td colspan="4" class="text-right"><p>ARANCELES</p></td>
                </tr>
                <tr>
                  <th colspan="18"><p>ACTIVO + PASIVO HACIA TERCEROS:</p></th>
                  <td colspan="6" class="text-right"><p>${{ entity.importe1|abs|number_format(2, ',', '.') }}</p></td>
                </tr>
                <tr>
                  <th colspan="18"><p>INGRESOS POR VENTAS Y/O SERVICIOS:</p></th>
                  <td colspan="6" class="text-right"><p>${{ entity.importe2|abs|number_format(2, ',', '.') }}</p></td>
                </tr>
                <tr>
                  <th colspan="18"></th>
                  <th colspan="6"><hr></th>
                </tr>
                {% set montoTotal      = entity.monto %}
                {% set montoTotalLabel = "Monto total (Honorarios" %}
                <tr>
                  <th colspan="18"><p>MONTO HONORARIOS:</p></th>
                  <td colspan="6" class="text-right"><p>${{ entity.monto|abs|number_format(2, ',', '.') }}</p></td>
                </tr>
                {% if entity.montoIva > 0 %}
                  {% set montoTotal      = montoTotal + entity.montoIva %}
                  {% set montoTotalLabel = montoTotalLabel ~ " + IVA" %}
                  <tr>
                    <th colspan="18"><p>MONTO IVA:</p></th>
                    <td colspan="6" class="text-right"><p>${{ entity.montoIva|abs|number_format(2, ',', '.') }}</p></td>
                  </tr>
                {% endif %}
                {% if entity.montoAporte > 0 %}
                  {% set montoTotal      = montoTotal + entity.montoAporte %}
                  {% set montoTotalLabel = montoTotalLabel ~ " + Aporte" %}
                  <tr>
                    <th colspan="18"><p>MONTO APORTE 8%:</p></th>
                    <td colspan="6" class="text-right"><p>${{ entity.montoAporte|abs|number_format(2, ',', '.') }}</p></td>
                  </tr>
                {% endif %}
                <tr>
                  <th colspan="18"></th>
                  <th colspan="6"><hr></th>
                </tr>
                {% set montoTotalLabel = montoTotalLabel ~ "):" %}
                <tr>
                  <th colspan="18"><p>{{ montoTotalLabel }}</p></th>
                  <td colspan="6" class="text-right"><p>${{ montoTotal|abs|number_format(2, ',', '.') }}</p></td>
                </tr>
                <tr>
                  <th colspan="18"></th>
                  <th colspan="6"><hr></th>
                </tr>
                <tr>
                  <th colspan="18"><p>MONTO A DEPOSITAR:</p></th>
                  <td colspan="6" class="text-right"><p><strong>${{ entity.montoDeposito|abs|number_format(2, ',', '.') }}</strong></p></td>
                </tr>
                <tr>
                  <th colspan="24"><hr></th>
                </tr>
                <tr>
                  <td colspan="24">
                    <div class="centrar"><small>
                        Autorizo se me descuente hasta un 20% de la presente liquidaci&oacute;n,
                        los importes correspondientes a Derecho de Ejercicio Profesional, Aportes por aplicaci&oacute;n
                        de Ley N° 3978 y otros conceptos que adeudare.
                    </small></div>
                  </td>
                </tr>
                <tr>
                  <th colspan="24"><hr></th>
                </tr>
                <tr>
                  <th colspan="4"><p>Condici&oacute;n:</p></th>
                  <td colspan="8"><p>{{ entity.condicionIvaString }}</p></td>
                  <td colspan="12"></td>
                </tr>
                <tr>
                  <th colspan="4"><p>CUIT:</p></th>
                  <td colspan="8"><p>{{ entity.cuit }}</p></td>
                  <td colspan="12"><p class="centrar">------------------------------------------</p></td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                  <td colspan="8"></td>
                  <th colspan="12"><p class="centrar">Aclaraci&oacute;n de firma del Profesional</p></th>
                </tr>
              </table>
            </div>
        </div>
    </body>
</html>