{% extends 'SistemaCPCEBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Confeccionar {{ config.entityName }}
{% endblock %}

{% block fos_user_panel %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-primary center-block">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-plus"></i> Confeccionar {{ config.entityName }}
                </div>
                <div class="panel-body">
                    {% block form %}
                        {{ form_start(form) }}
                        {% include 'SistemaCPCEBundle:Default:' ~ formviews ~ '.html.twig' with { 'form' : form, 'tareaCodigo' : form.vars.value.servicio.tarCodigo|default(null) } %}
                        {{ form_end(form) }}
                        {% if formviews == "trabajoConfirmarForm" or formviews == "trabajoConfirmarMontosForm" %}
                            <div class="form-group col-lg-12 col-md-12">
                                <div class="row">
                                    <div class="form-group col-lg-3">
                                        <button col="pull-right" class="form-control btn-primary pdfpreview btn" name="pdfpreview" id="pdfpreview">Vista previa</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <a class="form-control btn btn-info" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/sistemacpce/jasny-bootstrap/css/jasny-bootstrap.min.css') }}" rel="stylesheet">
    <style type="text/css">
        label {
            margin: 8px 0;
        }
    </style>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $('.tooltips').tooltip();
    </script>
    {% if config.validator is defined %}
        {% if config.validator == true %}
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
        {% else %}
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget_not_validator.js') }}"></script>
        {% endif %}
    {% else %}
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
    {% endif %}
    <script src="{{ asset('bundles/sistemacpce/jasny-bootstrap/js/jasny-bootstrap.min.js') }}"></script>
    {% if formviews == "trabajoConfirmarForm" or formviews == "trabajoConfirmarMontosForm" %}
        <script type="text/javascript">
            $("#pdfpreview").click(function() {
                var str = $("form").serialize();
                var url = '{{ path("front_trabajo_pdfpreview") }}' + '/' + str;
                window.open(url, '_blank');
            });
        </script>
    {% endif %}
    <script src="{{ asset('bundles/tecsprocomun/js/controla_patron.js') }}"></script>
    <script src="{{ asset('bundles/tecsprocomun/js/reemplaza_valor.js') }}"></script>
{% endblock %}