{% extends 'SistemaCPCEBundle::longLayout.html.twig' %}

{% block body %}
	{% block wrapper %}
	<div id="page-wrapper" style="margin: 0px;">
		<div class="content">
			{% block messages_error %}
			    {% for type, messages in app.session.flashbag.all() %}
			        {% for message in messages %}
			            <div class="alert {% if type == "success" %} alert-success {% else %} alert-danger {% endif %}">
			                {{ message|trans({}, 'FOSUserBundle') }}
			            </div>
			        {% endfor %}
			    {% endfor %}
			{% endblock messages_error %}
			{{ form_start(form) }}
			<div class="panel panel-primary center-block">
		        <div class="panel-heading">Validación de Matriculados</div>
		        <div class="panel-body">
					<div class="row">
						{{ form_row(form.afiTitulo) }}
						{{ form_row(form.afiMatricula) }}
						<div class="col-lg-4 col-md-4 col-sm-4">
							{{ form_row(form.validar) }}
						</div>
					</div>
		        </div>
		    </div>
		    {{ form_end(form) }}
		</div>
	</div>
	{% endblock wrapper %}
	{% block footer %}
	{% endblock footer %}
{% endblock body %}	
