{% extends 'MWSimpleAdminCrudBundle:Default:index.html.twig' %}

{% block buttons %}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ path(config.new) }}">
            {{ 'views.index.createnew'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </a>
    {% endif %}
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {{ 'views.index.export'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }} <span class="caret"></span>
        </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{{ path(config.export, { 'format': "xls" }) }}">EXCEL</a></li>
        <li><a href="{{ path(config.export, { 'format': "csv" }) }}">CSV</a></li>
        <li><a href="{{ path(config.export, { 'format': "json" }) }}">JSON</a></li>
      </ul>
    </div>
    <a id="reset_index_filters" class="btn btn-danger">
        {{ 'views.index.reset'|trans({}, 'MWSimpleAdminCrudBundle') }}
    </a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
        {{ 'views.index.filters'|trans({}, 'MWSimpleAdminCrudBundle') }}
        <span class="caret"></span>
    </a>
{% endblock %}

{% block actions %}
    <a class="glyphicon glyphicon-search tooltips"  href="{{ path(config.show, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="glyphicon glyphicon-edit tooltips"  href="{{ path(config.edit, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
    {% endif %}
    {#% if entity.certificado is null %}
        <a class="glyphicon glyphicon-ok tooltips"  href="{{ path(config.revisar, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Estado de Revisión FINALIZADO" onclick="return confirm('Marcar trabajo como FINALIZADO. Esta seguro?');"></a>
    {% endif %#}
    {% if entity.certificado is null %}
        <a class="glyphicon glyphicon-remove tooltips"  href="{{ path(config.revisar, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Estado de Revisión NO FINALIZADO" onclick="return confirm('Marcar trabajo como NO FINALIZADO. Esta seguro?');"></a>
    {% endif %}
{% endblock %}

{% block buttonsbelow %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="col-lg-8 col-md-8 col-sm-8">
            <a class="btn btn-success likepaginator" href="{{ path(config.new) }}">
                {{ 'views.index.createnew'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
    {% endif %}
{% endblock %}