{% extends "SistemaUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_panel %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">{{ 'layout.login'|trans({}, 'FOSUserBundle') }} | <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans }}me</a></div>
    </div>     
    <div style="padding-top:30px" class="panel-body" >
        {% if error %}
            <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" id="loginform" role="form" method="post" class="form-horizontal" style="margin-bottom: 0px !important;">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div style="margin-bottom: 25px" class="input-group">
                <span for="username" class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="Correo o {{ 'security.login.username'|trans }}" />
            </div>

            <div style="margin-bottom: 25px" class="input-group">
                <span for="password" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'security.login.password'|trans }}" />
            </div>
            {#
            <div class="input-group">
                <div class="checkbox">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" style="margin-bottom: 20px">
                        {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
            </div>
            #}
            <div style="margin-top:10px" class="form-group controls">
                <!-- Button -->
                <div class="col-sm-6">
                    <input class="btn btn-primary" type="submit" value="{{ 'layout.login'|trans({}, 'FOSUserBundle') }}">
                </div>
                <div class="col-sm-6">
                    <a href="{{ path("fos_user_resetting_request") }}" class="btn btn-warning">Restablecer contraseña</a>
                </div>
                <div class="col-sm-6">
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-danger">{{ 'layout.register'|trans }}me</a>
                </div>
            </div>
            <div style="margin-top:30px">
                <h3><div class="alert alert-info" role="alert">* Se recomienda utilizar <a href="https://www.google.com/chrome">Google Chrome</a> o <a href="https://www.mozilla.org/es-AR/firefox">Mozilla Firefox</a>.</div></h3>
            </div>
        </form>
    </div>
</div>
{% endblock fos_user_panel %}