body {
    padding-top: 100px;
}
.navbar-brand {
    height: 90px;
}
.navbar-top-links li {
    display: inline-block;
}
.sidebar {
    top: 100px;
}
.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}
.footer {
    background-color: transparent !important;
    color: #FFFFFF !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    border-radius: 6px !important;
}
.mainbox {
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .content {
        background-color: #FFFFFF;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0.5em;
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 20px 20px rgba(0,0,0,1);
        -moz-box-shadow: 0 20px 20px rgba(0,0,0,1);
        box-shadow: 0 20px 20px rgba(0,0,0,1);
    }
}
@media (min-width: 769px) and (max-width: 991px) {
    .content {
        background-color: #FFFFFF;
        margin: 0 2em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 1em;
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 20px 20px rgba(0,0,0,1);
        -moz-box-shadow: 0 20px 20px rgba(0,0,0,1);
        box-shadow: 0 20px 20px rgba(0,0,0,1);
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .content {
        background-color: #FFFFFF;
        margin: 0 5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 1em;
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 20px 20px rgba(0,0,0,1);
        -moz-box-shadow: 0 20px 20px rgba(0,0,0,1);
        box-shadow: 0 20px 20px rgba(0,0,0,1);
    }
}
@media (min-width: 1200px) {
    .content {
        background-color: #FFFFFF;
        margin: 0 10em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 1em;
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 20px 20px rgba(0,0,0,1);
        -moz-box-shadow: 0 20px 20px rgba(0,0,0,1);
        box-shadow: 0 20px 20px rgba(0,0,0,1);
    }
}
#page-wrapper {
    border-left: none;
}
/*PARA LOS BOTONS AL PONER DISABLED PONGA LA LETRA EN NEGRO*/
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    color: #000000;
}